{% load i18n sekizai_tags cmsplugin_filer_js_tmp %}

{% addtoblock "js" %}
    <script>
    window.STATIC_URL = '{{ STATIC_URL }}';
    window.LOOPS = '{{ object.get_loop }}';
    window.AUTOPLAY = {{ object.get_autoplay }};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}cmsplugin_filer_audio/js/soundmanager2-nodebug-jsmin.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}cmsplugin_filer_audio/js/inlineplayer.js"></script>
    
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_filer_audio/css/inlineplayer.css" />
{% endaddtoblock %}

<ul class="graphic">
    <li>
        <a href="{{ object.get_audio }}">{{ object.audio_display_title }}</a>
    </li>
</ul>



